.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: start;
  align-items: start;
  min-height: 85vh;
}

.modal-active {
  display: block;
}

.modal-hide {
  display: none;
}
