.table {
  width: 100%;
}

.add__note {
  padding: 5px;
  cursor: pointer;
  justify-content: end;
  margin-top: 10px;
  border: 1px solid var(--header-background-color) !important;
  width: fit-content;
  border-radius: 5px;
  color: var(--header-background-color);
  ;

  &:hover {
    background-color: #c5c4c4;
    transition: all 0.5s ease-in-out;
  }
}